# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Portable Node.js
node-portable/
node.zip

# Local development
local/


# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
dist/
build/
out/

# Logs
logs/
*.log
nul
